@import "bourbon/bourbon"
@import url(normalize.css)


$main-color: #10a410

//Убрать стрелки у формы телефона
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button
	-webkit-appearance: none
// Для Firefox
input
	&[type='number']
		-moz-appearance: textfield

//Убрать свечение кнопок в браузере
button:active, button:focus
	outline: none !important
button::-moz-focus-inner 
	border: 0 !important

html
	overflow-x: hidden

body
	padding: 0
	margin: 0
	font-family: "OpenSans", sans-serif
	font-weight: normal
	font-size: 14px
	line-height: 1.4
	overflow-x: hidden
	-webkit-overflow-scrolling: touch /*Убирает скролл у ios*/
textarea,
input,
	&:focus
		outline: none
li
	list-style-type: none
section, 
footer
	width: 100%
	height: auto
	display: block
	padding: 60px 0
p
	margin: 0
h1
	margin: 0
h2
	margin: 0
	font-size: 30px
	color: #000
	text-align: center
	text-transform: uppercase
.btn
	background: $main-color
	border: none
	border-radius: 5px
	padding: 10px 25px
	color: #fff


.main_head
	background: url(../img/bg_header.jpg) no-repeat center center
	background-size: cover
.logo
	// margin: 20px 0 0 55px
	margin-top: 20px
	display: block
	background: url(../img/logo.png) no-repeat center center 
	width: 70px
	height: 42px
.header_nav
	li
		display: inline-block
		padding: 15px
		a
			color: #fff
			font-size: 16px
			font-weight: normal
		&:hover
			color: $main-color
.nav_button
	float: right
	margin-top: 23px
.header_info
	h1
		letter-spacing: 2.25px
		margin-top: 118px
		font-weight: 800
		font-size: 55px
		color: #fff
		text-transform: uppercase
	p
		margin-top: 10px
		line-height: 1.1
		font-weight: normal
		font-size: 40px
		color: #fff
.header_button
	font-size: 20px
	margin-top: 33px
	padding: 16px 38px
	letter-spacing: 0.8px

/* Skills Child */
.skills
	h2
		margin: 20px 0 20px 0
	&_wrap
		text-align: center
		img
			margin-top: 20px
			text-align: center
			width: 109px
			height: 109px
		p
			padding-top: 20px
			margin-bottom: 20px
			font-size: 16px
			color: #000
			text-transform: uppercase

/* Slider */ 
// .slider h2
// 	margin-top: 60px
// 	font-weight: 200
// .single_item
// 	background: url(../img/photo_slider.jpg) no-repeat center center
// 	background-size: cover
// 	min-height: 800px
// .single_item1
// 	background: url(../img/bg_header.jpg) no-repeat center center
// 	background-size: cover
// 	min-height: 800px

/* Photo gallery */
.photo_gallery
	&_wrap
		margin-top: 25px
	&_overflow
		overflow: hidden
		padding: 0 8px

/* Tabs */
.tabs
	background: #efefef
	h2
		padding: 20px 0 40px 0
.tabs__content
	display: none /* по умолчанию прячем все блоки */
.tabs__content.active
	display: block /* по умолчанию показываем нужный блок */
.tabs__caption
	padding-left: 0
	text-align: center
	margin-bottom: 55px
	li
		margin: 0 5px
		padding: 20px 40px
		background: #fff
		border-radius: 5px
		color: #626262
		font-size: 16px
		display: inline-block
		cursor: pointer
	.active
		background: $main-color
		color: #fff
.tabs__content
	margin-bottom: 40px
	&_wrap
		padding: 0
		max-width: 31%
		margin: 0 10px
		overflow: hidden
		background: #fff
		border-radius: 5px
		box-shadow: 0px 6px 8px 5px rgba(172,172,172,0.8)
		img
			overflow: hidden
		h3
			color: #626262
			font-family: "OpenSans-Bold", sans-serif
			font-size: 20px
			margin: 20px
			text-transform: uppercase
		span
			padding: 0
			margin: 0 20px
			display: block
			color: $main-color
			font-family: "OpenSans-Bold", sans-serif
			font-size: 30px
		a
			font-size: 16px
			color: #626262
.tabs_btn
	text-align: center
	margin: 20px auto
	button
		margin-bottom: 20px
		padding: 20px 125px
		border: none
		border-radius: 5px
		background: $main-color
		color: #fff
		font-size: 20px
		&:hover
			background: $main-color * 0.9

/* Help block */
.help_block
	background: $main-color
	h2
		padding-bottom: 20px
		font-weight: normal
		font-size: 36px
		color: #fff
		text-transform: uppercase
	p
		text-align: center
		font-weight: normal
		font-size: 21px
		color: #fff
	form
		text-align: center
	input
		text-align: center
		border: none
		border-radius: 25px
		padding: 15px 30px
		margin: 20px 10px
		&::placeholder
			color: #000
.btn_gradient
	border: none
	border-radius: 25px
	padding: 15px 40px
	background: rgba(234,255,0,1)
	background: linear-gradient(to right, rgba(234,255,0,1) 0%, rgba(132,255,0,1) 100%)
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eaff00', endColorstr='#84ff00', GradientType=1 )
	&:hover
		background: rgba(234,255,0,1) * 0.9
.btn_form
	margin-left: 10px

/* Why we */
.why_we
	h2
		margin-bottom: 40px
	&_wrap
		margin-bottom: 60px
		h3
			text-align: center
			margin: 0
			padding: 0
			font-family: "OpenSans-Bold", sans-serif
			font-size: 24px
			text-transform: uppercase
			color: #000
		p
			margin-top: 30px
			font-size: 22px
			line-height: 1.2

/* Present */
.present
	background: url(../img/bg_present.jpg) no-repeat center center
	background-size: cover
	&_wrap_img
		text-align: center
	&_wrap_info
		margin-top: 30px
		background: #fff
		h3
			margin: 50px
			margin-bottom: 30px
			text-align: center
			font-family: "OpenSans-Bold", sans-serif
			font-size: 24px
			color: #000
			text-transform: uppercase
			span
				color: $main-color
		p
			font-size: 22px
			margin-bottom: 30px
	&_btn_wrap
		text-align: center
		button
			font-family: "OpenSans-Bold", sans-serif
			font-size: 22px
			margin-bottom: 50px

/* We works */
.we_works
	h2
		margin-bottom: 40px
	&_wrap
		text-align: center
		p
			margin-top: 20px
			font-size: 18px


/* Footer */
.contacts
	background: url(../img/bg_footer.jpg) no-repeat center center
	background-size: cover
	h2
		margin-bottom: 40px
	&_wrap
		background: #fff
		h3
			color: #000
			font-weight: normal
			font-size: 18px
		&_phone
			margin-bottom: 10px
			img
				float: left
			p
				font-size: 18px
				padding-left: 10px
.phone_1
	margin: 4px 20px 0 0
.phone_2
	margin: 4px 8px 0 0
.phone_3
	margin: 4px 19px 0 0
.timetable
	margin-top: 40px
	font-size: 18px
.adress
	margin: 20px 0
	font-size: 18px
.socials
	h3
		margin: 18px 0
		font-size: 18px

